
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        margin: 0;
        font-family: "Poppins", sans-serif;
    }

    
    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 345px;
        background-color: #fff;
    }

    .loginTitle, .forgotPasswordTitle {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
        color: #333;
    }

    .loginForm, .forgotPasswordForm {
        display: flex;
        flex-direction: column;
    }

    .inputGroup {
        margin-bottom: 15px;
    }

    .label {
        margin-bottom: 5px;
        font-size: 14px;
        color: #666;
    }

    .textInput{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        margin-top:10px;
    }



    .submitButton {
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .submitButton:hover {
        background-color: #0056b3;
    }

    .error {
        margin-top: 15px;
        color: #d9534f;
    }

    .success {
        margin-top: 15px;
        color: #5cb85c;
    }


