.flight-filter {
  flex: 1;

  height:auto;
  background-color: #f0f0f0;
  display: flex;
  padding: 0rem 1rem;
  padding-bottom: 44px;
  justify-content: flex-start;
 
}
th {
  border: 1px solid red;
}
.all-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-title {
  margin: 2rem 0rem 0rem 0.5rem;
  font-size: 20px;
}
.flight-filter h2 {
  margin-top: 0;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 2.5rem 0rem;
}

.filter-section h3 {
  margin-top: 0;
}

.checkboxes label {
  display: block;
  margin-bottom: 8px;
}

.checkboxes input[type="checkbox"] {
  margin-right: 5px;
}
#apply-filters-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#apply-filters-btn:hover {
  background-color: #0056b3;
}

.reset-btn{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.reset-btn:hover{
  background-color: #0056b3;
}