.main-panel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  width: 100%;
  padding: 0px 12px 0px 17px;

}

.excel-btn{
  display:flex;
  justify-content:flex-end;
  margin-right:58px;
  margin-top:10px;
  gap:5px;
}

.e-btn{
  background-color:  #429518;;
  height: 38px;
  width: 8rem;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
  border-radius:5px;
  color: white;
  display: flex;
  justify-content:center;
  align-items:center;

}
.e-btn:hover{
  background-color:#356c18;
}
.history-link{
  background-color: #007bff;
  height: 38px;
  width: 8rem;
  font-size: 1.15rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.history-link:hover{
  background-color: #0056b3;
}
.card {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 73vh;
}

.card-body {
  padding: 1.75rem 1rem 1.75rem 0.75rem;
}


.table-wrapper {
  overflow-x: auto;
  max-width: calc(100vw - 370px);
  margin-left: 20px;
  overflow-y: auto;
  max-height: 500px;
   
}

.table {
  width: max-content;
  border-collapse: collapse;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.table th {
  background-color: #d1d5db;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  position: sticky;
  top: 0;
}

/* Apply border to tbody rows and cells */
.table tbody tr {
  border: 1px solid black; /* Add border to table rows */
}

.table tbody td {
  border-top: none; /* Remove top border for table data cells */
  border: 1px solid black; 
}

.table tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

.table tbody tr:hover {
  background-color: #d1d5db;
  cursor: pointer;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
  border: 1px solid black;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.btn_icon{
  padding-left: 0.75rem;
 
}
.logo{
  display:flex;
  width: 90%;
  justify-content:flex-end;
}
.welcome_logo{
 height:28rem;
 width:67%;
 opacity: 0.275;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #000;
}
